# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Build directories
Debug/
Release/
x64/
x86/
*.log

# Niewidoczne pliki systemowe
.DS_Store
.idea/
*.iml
*.out
*.class

# Dependency directories
node_modules/
bower_components/

# Java
*.class
*.jar
*.war
*.ear

# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# System
*.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
